<section class='mb-48 [&>p]:text-neutral-200 [&>p]:mb-4'>
  <h2 id='sobre-mi' class='font-bold text-4xl mb-4'>Sobre mí</h2>
  <p>
    Dí mis primeros pasos en la programación en 2019 cuando aún estaba en el
    colegio, en 2021 después de graduarme enfoqué mis pasos hacia el desarrollo
    web
  </p>
  <p>
    En 2023 conseguí mi primer empleo como desarrollador en una empresa de gran
    nivel en Colombia y en donde tuve la oportunidad de trabajar con un cliente
    internacional
  </p>
  <p>
    Me gusta jugar ajedrez, resolver cubos de rubik y escuchar un montón de
    musica poco frecuente en personas de mi edad
  </p>
</section>
