---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="card">
	<a href={href} target="_blank">
		<h3>
			{title}
			<span>&rarr;</span>
		</h3>
		<p>
			{body}
		</p>
	</a>
</li>

<style>
	li:hover {
		scale: 1.1;
		background: linear-gradient(90deg, #e54cfd, #ff463e);
	}
</style>