---
import { getI18N } from 'src/i18n'
import CopyIcon from '@icons/copy-icon.astro'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const main = i18n?.MAIN
---

<script>
  const EMAIL = 'cristianquintero316@gmail.com'
  const copyButton = document.getElementById('copy-button')

  function copyEmailToClipBoard() {
    return window.navigator.clipboard.writeText(EMAIL)
  }

  copyButton?.addEventListener('click', copyEmailToClipBoard)
</script>

<button
  id='copy-button'
  title={main?.ARIA_COPY_EMAIL}
  aria-label={main?.ARIA_COPY_EMAIL}
  class='bg-inherit py-3.5 pl-2 pr-2 group'>
  <CopyIcon
    class='opacity-50 group-hover:scale-110 group-hover:opacity-100 transition-all duration-300'
  />
</button>
