---
import CopyButton from './copy-button.astro'
import SendIcon from './icons/send-icon.astro'
---

<div
  class='flex items-center my-4 mr-8 md:mx-0 bg-neutral-900 md:w-[50%] rounded-2xl'>
  <input
    class='text-[#868686] min-w-[85%] bg-transparent pl-4 text-center'
    disabled
    value='cristianquintero316@gmail.com'
    placeholder='cristianquintero316@gmail.com'
  />
  <CopyButton />
  <a
    aria-label='Enviar correo'
    href='mailto:cristianquintero316@gmail.com'
    class='bg-inherit py-3.5 pl-2 pr-4 rounded-r-2xl group'>
    <SendIcon
      class='opacity-50 group-hover:scale-110 group-hover:opacity-100 transition-all duration-300'
    />
  </a>
</div>
