---
const response = await fetch('https://gh-pinned-repos.egoist.dev/?username=cristianqsanchez')
const data = await response.json()

import Card from './Card.astro'
---
<h2>Repositories</h2>
<section class="container">
  {data.map((repo: { link: string; repo: string; description: string; }) => (
    <Card
      href={repo.link}
      title={repo.repo}
      body={repo.description}
    />
  ))}
</section>